*.pyc
fm26_db_extractor - Copy.py
fm26_generator_gui - Copy.py
fm26_player_generator - Copy.py
fm26_player_generator_id_registry.json
fm26_generator_gui2.py
fm26_generator_gui2.py
fm26_people_generator2.py
fm26_xml_appender - Copy.py
fm26_generator_gui_2.py
custom_first_names_template.csv
custom_surnames_template.csv
scottish_male_first_names_2500.csv
scottish_surnames_2500.csv
